{% extends '/default.twig'%}

{% block content %}

<h1><a href="/book/{{chapter.book}}">Chapter {{chapter.number}}</a></h1>

<h2>{{chapter.name}}</h2>

{% if previous.id is defined %}
    <a href="/chapter/{{previous.id}}">Previous Chapter</a>
{% endif %}

{% if next.id is defined %}
    <a href="/chapter/{{next.id}}">Next Chapter</a>
{% endif %}

<br>

{{chapter.content|raw}}

{% if form.errors.owner is defined %}
    ERROR : {{ form.errors.owner }}
{% endif %}

{% if form.errors.content is defined %}
    ERROR : {{ form.errors.content }}
{% endif %}

<form method="post">
    <input type="hidden" name="comment[chapter]" value="{{chapter.id}}">
    <input type="text" name="comment[owner]" placeholder="Your name">
    <textarea name="comment[content]" class="text_block" cols="30" rows="10"></textarea>
    <input type="submit" value="Reply">
</form>

{% for comment in comments %}
    {{comment.owner}}
    
    {{comment.content|raw}}
    {% if comment.likes != 0 %}
        {{comment.likes}}
    {% endif %}
    
    <form method="post">
        <input type="hidden" name="comment[id]" value="{{comment.id}}">
        <input type="hidden" name="comment[chapter]" value="{{comment.chapter}}">
        <input type="submit" name="comment[like]" value="Like">
        <input type="submit" name="comment[report]" value="Report">
    </form>
{% endfor %}

{% endblock %}