{% extends '/default.twig'%}

{% block content %}

<h1>{{title}}</h1>

<p>Go back to <a href="/">Home Page</a></p>

<p>Go back to <a href="/admin">Panel Admin</a></p>

<form action="/admin/book/create" method="post">
    <input type="text" name="book[name]" placeholder="name"/>
    <input type="text" name="book[owner]" placeholder="owner"/>
    <button type="submit">Create Book</button>
</form>
<br>

{% for book in books %}

<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="book[id]" value="{{book.id}}">
    <input type="text" name="book[name]" value="{{book.name}}">
    <input type="text" name="book[owner]" value="{{book.owner}}">

    {% if book.cover != "null" %}
        <input type="hidden" name="book[cover]" value="{{book.cover}}">
        <img height="100px" src="/img/cover/{{book.cover}}" alt="Cover">
    {% else %}
        <input type="file" name="book_cover">
    {% endif %}
    
    <input type="date" name="book[finished_date]" value="{{book.finished_date}}">
    <input type="submit" name="edit" value="Edit book" formaction="/admin/book/edit">
    <input type="submit" name="delete" onclick="return confirm('Are you sure to delete this book ?');" value="Delete book" formaction="/admin/book/remove">

    {% for chapter in chapters %}
        {% if chapter.id == book.id %}
            <a href="/book/{{book.id}}">Go to book</a>
        {% endif %}
    {% endfor %}
</form>
    
{% endfor %}

{% endblock %}