{% extends '/default.twig'%}

{% block content %}

    {% if check %}
        <h1>{{title}}</h1>

        <p>Go back to <a href="/">Home Page</a></p>

        <p>Go back to <a href="/admin">Panel Admin</a></p>

        <table>
            <tr>
                <th>Owner</th>
                <th>Content</th>
                <th>Likes</th>
                <th>Reported</th>
            </tr>
            {% for comment in comments %}
            <tr>
                <td>{{comment.owner}}</td>
                <td>{{comment.content|raw}}</td>
                <td>{{comment.likes}}</td>
                <td>{{comment.report}}</td>
                <td>
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" name="comment[id]" value="{{comment.id}}">
                        <input type="hidden" name="comment[chapter]" value="{{comment.chapter}}">
                        <input type="hidden" name="comment[owner]" value="{{comment.owner}}">
                        <input type="hidden" name="comment[content]" value="{{comment.content}}">
                        <input type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure to delete this book ?');" formaction="/admin/comment/remove/{{comment.id}}">
                    </form>
                </td>
            </tr>

            {% endfor %}

        </table>
    {% else %}
        <p><a href="/login">login</a> required</p>
    {% endif %}


{% endblock %}