{% extends '/default.twig'%}

{% block content %}

<h1>{{title}}</h1>

<a href="/blogv3/">Back</a>

<br>
<br>

{% for book in books %}

<li><a href="/blogv3/book/{{book.id}}">{{book.name}}</a></li>
    
{% endfor %}
<br>
<form method="post">
        <input type="text" name="book[name]" placeholder="name" value="{{ form.data.name }}"/>
        {% if form.errors.name is defined %}
            <br>
            ERROR : {{ form.errors.name }}
        {% endif %}

        <br>
        <input type="text" name="book[owner]" placeholder="owner" value="{{ form.data.owner }}"/>
        {% if form.errors.owner is defined %}
            <br>
            ERROR : {{ form.errors.owner }}
        {% endif %}
        <br>
        <button type="submit">Valid</button>
    </form>

{% endblock %}