{% extends '/default.twig'%}

{% block content %}

<h1><a href="/blogv3/book">{{book.name}}</a></h1>

{% if book.cover != 'null' %}

    <img height="200px" src= "../img/cover/{{book.cover}}" alt="Cover">

{% endif %}

<p>Par {{book.owner}}</p>

{% for chapter in chapters %}

    <li><a href="/blogv3/chapter/{{chapter.id}}">{{chapter.name}}</a></li>

{% endfor %}

{% endblock %}