{% extends '/default.twig'%}

{% block content %}

<div id="book">
    <div class="first_page">
        <h2><a href="/book">{{book.name}}</a></h2>
        <img height="200px" src= "/img/cover/{{book.cover}}" alt="Cover">
        <p>By {{book.owner}}</p>
    </div>

    <div class="chapter_list">
        {% for chapter in chapters %}

            <li><a href="/chapter/{{chapter.id}}">Chapter {{chapter.number}}: {{chapter.name}}</a></li>

        {% endfor %}
    </div>
</div>


{% endblock %}