{% extends '/default.twig'%}

{% block content %}

<h1><a href="/blogv3/book">{{book.name}}</a></h1>

<p>Par {{book.owner}}</p>

{% for chapter in chapters %}

    <li><a href="/blogv3/chapter/{{chapter.id}}">{{chapter.name}}</a></li>

{% endfor %}

{% if check %}

    <form method="post">
        <input type="hidden" name="id" value="{{book.id}}"><br>
        <input type="text" name="book[name]" value="{{book.name}}"><br>

        {% if form.errors.name is defined %}
            <br>
            ERROR : {{ form.errors.name }}
        {% endif %}

        <input type="text" name="book[owner]" value="{{book.owner}}"><br>

        {% if form.errors.owner is defined %}
            <br>
            ERROR : {{ form.errors.owner }}
        {% endif %}

        <input type="submit" name="edit" value="Edit book"><br>
        <input type="submit" name="delete" onclick="return confirm('Are you sure to delete this book ?');" value="Delete book">
    </form><br>

    <form method="post">
        <input type="text" name="chapter[name]" placeholder="chapter name">
        <input type="submit" value="Create chapter">
    </form>

{% endif %}

{% endblock %}