{% extends '/default.twig'%}

{% block content %}

<div id="books">
    {% for book in books %}
    <a href="/book/{{book.id}}">
        <img width="300px" src="/img/cover/{{book.cover}}" alt="{{book.name}}">

        <p>{{book.name}}</p>

        <p>By {{book.owner}}</p>
    </a>
        
    {% endfor %}
</div>

{% endblock %}